In [1]:

#Watch for [expression + context]

print([(x, y) for x in range(1) for y in range(3)])
print([q ** 2 for q in range(7) if q % 2 > 0])

print([x.lower() for x in ["ASD", "QWE", "ZXC"]])
db = {
    "Alice": 100,
    "Bob": 99,
    "Carol": 98,
    "Frank": 97,
    "Eve": 96
}

print(list((m, n) for m, n in db.items()))
print([(m, n) for m, n in db.items() if n > 98])

string = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
fva = ""

print([[x for x in line.split() if len(x) > 4] for line in string.split("\n")])
print([[x for x in line.split() if len(x) > 3] for line in string.split('\n')])

[(0, 0), (0, 1), (0, 2)]
[1, 9, 25]
['asd', 'qwe', 'zxc']
[('Alice', 100), ('Bob', 99), ('Carol', 98), ('Frank', 97), ('Eve', 96)]
[('Alice', 100), ('Bob', 99)]

In [3]:

# lambda arguments : return expression

In [4]:
lambda x, y: x + y

In [35]:
## Data
letters_amazon = '''
We spent several years building our own database engine,
Amazon Aurora, a fully-managed MySQL and PostgreSQL-compatible
service with the same or better durability and availability as
the commercial engines, but at one-tenth o the cost. We were
not surprised when this worked.
'''
## One-Liner
find = lambda x, q: x[x.find(q)-18:x.find(q)+18] if q in x else -1
## Result
print(find(letters_amazon, 'SQL'))

a fully-managed MySQL and PostgreSQL

In [26]:
find = lambda x, y: x[x.find(y):x.find(y) + 3] if y in x else -1
print(find(letters_amazon,"building"))

bui

In [36]:
find_2 = lambda m, n: m[m.index(n)] if n in m else -4
print(find_2(letters_amazon, "f"))

f

In [43]:
price = [[9.9, 9.8, 9.8, 9.4, 9.5, 9.7],
 [9.5, 9.4, 9.4, 9.3, 9.2, 9.1],
 [8.4, 7.9, 7.9, 8.1, 8.0, 8.0],
 [7.1, 5.9, 4.8, 4.8, 4.7, 3.9]]

print([line[::2] for line in price])

[[9.9, 9.8, 9.5], [9.5, 9.4, 9.2], [8.4, 7.9, 8.0], [7.1, 4.8, 4.7]]

In [45]:
visitors = ['Firefox', 'corrupted', 'Chrome', 'corrupted',
 'Safari', 'corrupted', 'Safari', 'corrupted',
 'Chrome', 'corrupted', 'Firefox', 'corrupted']

visitors[1::2] = visitors[::2]
print(visitors)

['Firefox', 'Firefox', 'Chrome', 'Chrome', 'Safari', 'Safari', 'Safari', 'Safari', 'Chrome', 'Chrome', 'Firefox', 'Firefox']

In [47]:
companies = {
 'CoolCompany' : {'Alice' : 33, 'Bob' : 28, 'Frank' : 29},
 'CheapCompany' : {'Ann' : 4, 'Lee' : 9, 'Chrisi' : 7},
 'SosoCompany' : {'Esther' : 38, 'Cole' : 8, 'Paris' : 18}}

print([x for x in companies if any(y < 9 for y in companies[x].values())])

['CheapCompany', 'SosoCompany']

In [52]:
zipped = [(1,4),(2,5),(3,6)]

lst_1_new, lst_2_new = zip(*zipped)
print(list(lst_1_new))
print(list(lst_2_new))

[1, 2, 3]
[4, 5, 6]

In [66]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),('Bob', 99000, 'mid-level manager'),('Frank', 87000, 'CEO')]

# print([dict(zip(column_names, x))for x in db_rows])
# print([dict(zip(column_names, m)) for m in db_rows])
print([dict(zip(column_names, q))for q in db_rows])

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'mid-level manager'}, {'name': 'Frank', 'salary': 87000, 'job': 'CEO'}]

In [72]:
is_anagram = lambda x, y: sorted(x) == sorted(y)
print(is_anagram("elvis", "lives"))
is_palindrome = lambda x: x == x[::-1]
print(is_palindrome("rats live on no evil star"))

True
True

In [81]:
take_factorial = lambda x: x * take_factorial(x - 1) if x > 1 else 1
print(take_factorial(5))

120